body {
    color: white;
    font: bold 15pt Arial;
    text-align: center;
    background: rgb(200, 184, 137)
}
section {
    background: white;
    --width: 60%;
    height: 300px;
    width: var(--width);
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgb(57, 57, 57);
    padding: 1px;
}
h1 {
    margin: 0;
}
h2#clock_text {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0pt;
}
div#time_msg{
    margin: 3%;
    color: rgb(0, 0, 0);
}
p#signature {
    margin: 5pt;
    width: var(--width);

}
.image-container {
    width: 60%;
    margin: 0 auto;
  }
.image-container img {
    max-width: 100%;
    height: auto;
}
